<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;

}

.flex-container > div {
 
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
</style>
<title>About us</title>
</head>
<body style="background-image: linear-gradient(to right,  #e5323238, #f59b9b, #e917177f);">

<h1><center>ABOUT PLASMA</center></h1>
<h2>What is plasma in blood?</h2>

<p>Plasma is the liquid portion of blood. About 55% of our blood is plasma, and the remaining 45% are red blood cells, white blood cells and platelets that are suspended in the plasma.</p>

<p>Plasma is about 92% water. It also contains 7% vital proteins such as albumin, gamma globulin and anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and vitamins.</p>
<h3>Plasma serves four important functions in our body:</h3>
<p>1. Helps maintain blood pressure and volume.</p>

<p>2. Supply critical proteins for blood clotting and immunity.</p>

<p>3. Carries electrolytes such as sodium and potassium to our muscles.</p>

<p>4. Helps to maintain a proper pH balance in the body, which supports cell function.</p>
<h2>What is blood plasma used for?</h2>
<p>Plasma is commonly given to trauma, burn and shock patients, as well as people with severe liver disease or multiple clotting factor deficiencies. It helps boost the patient’s blood volume, which can prevent shock, and helps with blood clotting. Pharmaceutical companies use plasma to make treatments for conditions such as immune deficiencies and bleeding disorders.</p>
<h2>What is a plasma donation?</h2>
<p>In a plasma-only donation, the liquid portion of the donor’s blood is separated from the cells. Blood is drawn from one arm and sent through a high-tech machine that collects the plasma. The donor’s red blood cells and platelets are then returned to the donor along with some saline. The process is safe and only takes a few minutes longer than donating whole blood.</p>

<p>Donated plasma is frozen within 24 hours of being donated to preserve its valuable clotting factors. It can be stored for up to one year and thawed for transfusion to a patient when needed. Red Cross donations are often used directly for hospital patient transfusions, rather than pharmaceutical uses.</p>
<h2>Who should donate plasma?</h2>
<p>AB is the only universal plasma and can be given to patients of any blood type. This means that type AB plasma transfusions can be given immediately, without losing precious time determining if the patient’s blood type is compatible. In emergency medicine, such as caring for a major trauma or burn patient, time saved can mean the difference between life and death.</p>
<h2>Learn More About Blood Components</h2>
<div class="flex-container"><div>
<img src="https://www.redcrossblood.org/content/dam/redcrossblood/landing-page-documents/Blood-Components.png.transform/282/q70/feature/image.png"><br><button><a href="white_blood_cells.html"> White Blood Cells</a></button><br><br></div><div>
<img src="https://www.redcrossblood.org/content/dam/redcrossblood/landing-page-documents/Blood-Components.png.transform/282/q70/feature/image.png"><br><button><a href="red_blood_cells.html"> Red Blood Cells</a></button><br><br></div><div>
<img src="https://www.redcrossblood.org/content/dam/redcrossblood/landing-page-documents/Blood-Components.png.transform/282/q70/feature/image.png"><br><button><a href="platelets.html"> Platelets</a></button></div>
</div>
<div class="action">
  <span class="load" onclick="openRegPage()" id="reg-action">
 <button><a href="index.html">BACK</a></button>
  </span>
</div>
</body>
</html>