<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platelets</title>
</head>
<body style="background-image: linear-gradient(to right, #DECBA4, #3E5151);">
    <div class="action">
        <span class="load" onclick="openRegPage()" id="reg-action">
       <button><a href="about.html">BACK</a></button>
        </span>
     </div>
</body>
</html>