<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>red_blood_cells</title>
</head>
<body style="background-image: linear-gradient(to right, #DECBA4, #3E5151);">
<h2>RED BLOOD CELLS</h2>
<P>Red blood cells, or erythrocytes, are one of the components of blood. (The others are plasma, platelets and white blood cells.) They are continuously produced in our bone marrow. Just two or three drops of blood can contain about one billion red blood cells – in fact, that’s what gives our blood that distinctive red color.</P>
<h3>What Is the Function of Red Blood Cells?</h3>
<p>Red blood cells carry oxygen from our lungs to the rest of our bodies. Then they make the return trip, taking carbon dioxide back to our lungs to be exhaled.</p>
<h3>How Are Red Blood Cells Used in Medicine?</h3>
<p>Red blood cells are the most commonly transfused blood component. Patients who benefit most from receiving red blood cells include those with chronic anemia resulting from kidney failure or gastrointestinal bleeding, and those with acute blood loss resulting from trauma. They can also be used to treat blood disorders such as sickle cell disease.</p>
<h3>How Are Red Blood Cells Collected?</h3>  
<p>Red blood cells are prepared from whole blood by removing the plasma (the liquid portion of the blood). Sometimes this is done after a person donates a pint of whole blood, resulting in multiple components (red cells, plasma and platelets) that can be given to different patients.</p>
<p>Other times, it is done during the donation itself, using a process called apheresis. In this case, only the red cells are retained and the patient’s plasma and platelets are returned to them. Some donors say that this leaves them feeling more hydrated than giving a whole blood donation.</p>  
<div class="action">
    <span class="load" onclick="openRegPage()" id="reg-action">
   <button><a href="about.html">BACK</a></button>
    </span>
 </div>
</body>
</html>
