<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>white_blood_cells</title>
</head>
<body style="background-image: linear-gradient(to right, #DECBA4, #3E5151);">
    <h2><center>WHITE BLOOD CELLS</center></h2> 
    <p>White blood cells are one of the components of our blood, along with red blood cells, platelets and plasma. Each of these components has a unique function in our body and in medicine.

White blood cells are continuously made in our bone marrow. They have a short lifespan of just one to three days.
The medical term for these cells is leukocytes. There are several different types of cells, including granulocytes, monocytes and lymphocytes.   
</p>
<h3>What Do White Blood Cells Do?</h3><p>
White blood cells help our bodies defend against disease in three ways:</p>
<p>1. By destroying harmful bacteria.</p>
<p> 2. By creating antibodies against bacteria and viruses.</p>
<p> 3. By fighting malignant disease.</p>
<h3>What Are Granulocytes?</h3>  
<p>Granulocytes are the most common type of white blood cell. They protect against infection by surrounding and destroying invading bacteria. Unlike other types of white cells, they do play an important medical role: they can be used to treat infections that don’t respond to antibiotics.</p> 
<h3>How Do You Donate White Blood Cells?</h3>
 <p>Granulocytes are the only type of white blood cell that the Red Cross collects. Since granulocyte must be used within 24 hours, donations are only taken when a specific patient needs them. To be eligible to donate granulocytes, you must have donated platelets</p>
 <div class="action">
    <span class="load" onclick="openRegPage()" id="reg-action">
   <button><a href="about.html">BACK</a></button>
    </span>
 </div>

</body>
</html>
